<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auto‑Apply • Get Started</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main-layout.css" />
</head>

<body th:replace="~{layouts/main-layout :: main-layout(content=~{::body/content()})}">
    <div th:fragment="content">
        <main class="section">
            <h1>How to convert into a PDF</h1>

            <h1>How to make a proper CV</h1>
        </main>
    </div>
</body>

</html>